*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

img{
    display: block;
    width: 100%;
}


body{
    display: flex;
    flex-flow: column;
    align-items: center;
    min-height: 100vh;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


header, footer, main, footer{
    width: 100%;
    text-align: center;
}

header{
    position: sticky;
    background-color: rgb(145, 139, 139);
    background-image:linear-gradient(to bottom, white, rgb(145, 139, 139));
}

header h2{
    margin: 0.35em;
}


main{
    flex-grow: 1;
    background-color: darkgrey;
    background-image: radial-gradient(white, darkgrey);
}

header{
    top: 0;
    box-shadow: 5px 10px 10px black;
}


footer{
    position: fixed; 
    bottom: 0px;
    padding: 1em;
    background-color: rgb(145, 139, 139);
    background-image:linear-gradient(to top, white, rgb(145, 139, 139));
    color: black;
    box-shadow: 0px -10px 10px black;
}

footer p{
    font-size: 1.2rem;
    font-weight: bolder;
}

.nav, .nav2{
    border: 2px solid black;
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
}

.nav a, .nav2 a{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bolder;
}

.nav a:visited, .nav a, .nav2 a, .nav2 a:visited{
    color: rgb(17, 81, 145);
}

.nav a:active, .nav2 a:active{
    color: gold;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

article{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    margin: 1rem;
    border-radius: 10%;
    background-image: radial-gradient(rgb(146, 167, 196), grey);
}

article p{
    font-weight: 500;
    font-size: large;
    padding: 1em;
    text-align: center;
}

.profile-name{
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: x-large;
    border-bottom: 2px solid black;
    border-radius: 10%;
    color:firebrick;
}

.profile{
    width: 70%;
}

.profile img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 2px double hsl(103, 55%, 48%);
    padding: 0.1em;
    margin: 0.5em;
    margin-top: 1em;
    box-shadow: 11px -1px 10px black;
}

.nav2{
    display: none;
}

.cp{
    color: red;
}

@media screen and (min-width: 490px){
    .article{
        width: 40%;
    }

    .main{
        flex-flow: row;
        flex-wrap: wrap;
    }

    .nav{
        display: none;
    }

    .nav2{
        display: block;
        display: flex;
        justify-content: space-evenly;
    }

  }

@media screen and (min-width: 900px) {
    .nav{
        display: none;
    }

    .main{
        flex-direction: row;
        justify-content: space-evenly;
        flex-grow: 1;
        align-items: center;
    }

    .article{
        padding: 0;
        width: min(30%, 350px);
        height: 100%;
    }

    .profile img{
        width: 100%;
        height: auto;
    }

    .nav2{
        display: none;
    }

    .header{
        padding: 1.3rem;
    }
  }


